<div class="media">
  <div class="media-left media-top">
    <%= gravatar_for message.user %>
  </div>

  <div class="media-body">
    <p class="media-heading">
      <%= message.user.username %> at <%= message.timestamp %> says:
    </p>

    <p><%= message.body %></p>
  </div>
</div>
