<div class="media">
  <div class="user-avatar media-left media-top">
    <%= gravatar_for message.user %>
  </div>

  <div class="media-body">
    <p class="media-heading">
      <%= message.user.username %>
      <br>

      <span class="small text-muted">at <%= message.timestamp %> says:</span>
    </p>

    <p><%= sanitize markdown_to_html(message.body) %></p>
  </div>
</div>
