<footer class="footer-basic-centered">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="footer-company-name">
          Lyria - <%= Date.current.year %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="footer-text">
          Thank you for helping us help you help us all
          <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
</footer>
