.error_explanation {
  ul {
    margin-top: 10px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: #a94442;
  }
}

textarea.vertical {
  resize: vertical;
  min-height: 61px;
}
