// Place all the styles related to the rooms controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-users-list {
  color: #f5f5f5;
  font-size: 20px;
  outline: none;
}

.show-users-list:hover, .show-users-list:active, .show-users-list:focus {
  color: #ffffff;
}

.users-list {
  margin-top: 10px;

  ul {
    margin-bottom: 0;
  }
}

.users-list a {
  color: #f5f5f5;
}

.users-list a:hover, .users-list a:active, .users-list a:focus {
  color: #ffffff;
  text-decoration: none;
}
