.users-list .popover, .my-card .popover {
  max-width: 300px;
  width: 300px;
}

.users-list .popover .popover-title, .my-card .popover .popover-title {
  text-align: center;
  color: #000000;
}

.users-list .popover .popover-content, .my-card .popover .popover-content {
  padding: 0;
}

.card {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hover-card {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
}

.card.hover-card .card-header {
  background: url(asset_path('user-card-background.png')) no-repeat center;
  background-size: cover;
  height: 120px;
}

.card.hover-card .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hover-card .avatar img {
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hover-card .info {
  padding: 4px 8px 10px;
}

.card.hover-card .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hover-card .info .desc {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
