<div class="body-wrap">
  <div class="container">
    <div class="content">
      <div class="main">
        <div class="content-wrap">
          <h2 class="header align-center">
            Hello <%= @resource.username %>!
          </h2>

          <div class="content-block">
            <p>We're contacting you to notify you that your password has been changed.</p>
          </div>
        </div>

        <div class="footer">
          <p class="align-center">
            <%= link_to 'Lyria', root_url %> - <%= Date.current.year %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
