<div class="body-wrap">
  <div class="container">
    <div class="content">
      <div class="main">
        <div class="content-wrap">
          <h2 class="header align-center">
            Hello <%= @resource.username %>!
          </h2>

          <div class="content-block">
            <p>
              Someone has requested a link to change your password. You can do this through the link below.
            </p>

            <p>
              <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),
                          class: 'btn-blue' %>
            </p>

            <p>
              If you didn't request this, please ignore this email.
            </p>

            <p>
              Your password won't change until you access the link above and create a new one.
            </p>
          </div>
        </div>

        <div class="footer">
          <p class="align-center">
            <%= link_to 'Lyria', root_url %> - <%= Date.current.year %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
